:root {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: rgba(24,26,26,0.98);
}

body::-webkit-scrollbar-thumb {
    background: aquamarine;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

.nav-wrapper {
    position: fixed;
    display: inline-flex;
    height: 4rem;
    width: 100%;
    background: rgba(0,0,0,0.4);
    justify-content: space-between;
    z-index: 9999;
}

.nav-wrapper ul {
    margin: auto 3rem;
}

.nav-wrapper li {
    list-style: none;
    display: inline-flex;
    line-height: 4rem;
    margin: 0 0.5rem;
}

.nav-wrapper a {
    color: rgba(236,247,247,0.98);
    text-decoration: none;
    font-size: 1.5rem;
    transition: .2s;
}

.nav-wrapper h2 {
    margin: auto 40px;
    user-select: none;
}

.nav-wrapper ul li a:hover {
    color: rgba(117,255,240,0.98);
    padding: 0.1rem;
    border-bottom: 0.02rem solid white;
    transition: .4s;
}


section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

.content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6rem 1rem;
}

h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#about.content, .text#about.content{
    max-width: 50%;
}


#about.content img {
    float: left;
    max-height: 20rem;
    padding: 1rem;
}

#home {
    background-color: aliceblue;
}

#about {
    background-color: darkcyan;
}

#social {
    background-color: rgba(117,255,240,0.98);
}

#social.content a{
    padding: 0.3rem;
    color: black;
    text-decoration: none;
    min-height: 20rem;
}

